@{
    ViewBag.Title = "Def board";
}

<h3>Fassa logim</h3>
<p>Atenção, essa página se destina apenas para administradores.</p>
<form action="/ValidaUser" method="post">
    <label>Usuário</label>
    <input type="text" name="user"><br />
    <label>Senha</label>
    <input type="password" name="psw"><br />

    <input type="submit" value="Enviar">
</form>
